<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
        <tr>
            <th>HOSPITAL</th>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>ESPECIALIDAD</th>
            <th>SALARIO</th>
        </tr>
        {% for d in listado_Doctores%}

            <tr>
                <td>{{d.hosp}}</td>
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td>{{d.esp}}</td>
                <td>{{d.sal}}</td>
            </tr>
       {% endfor%}
    </table>

</body>
</html>